<a href="https://colab.research.google.com/github/farhanfuad35/titanic/blob/main/Titanic_77_mean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setting Up Kaggle Environment and Loading the Dataset

In [ ]:
# Bash Scripts
! pip install kaggle
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json   # 6: 4 + 2, Read & Write permission to myself

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
# Downloading Datasets
! kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 24.1MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 9.42MB/s]
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 60.5MB/s]

In [ ]:
# Importing Required Modules
import pandas as pd
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [ ]:
data_train = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')

In [ ]:
print(data_train.isnull().sum())
print(data_test.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

# Data Imputation
## Age
For 'Age' I am going to use its mean value first to impute the data

In [ ]:
# Impute 'Age' column with its mean value
data_train_cleaned = data_train
data_test_cleaned = data_test

mean_age = data_train['Age'].mean()
print(mean_age)
data_train_cleaned = data_train.fillna(value={'Age': mean_age})

mean_age = data_test['Age'].mean()
print(mean_age)
data_test_cleaned = data_test_cleaned.fillna(value={'Age': mean_age})

29.69911764705882
30.272590361445783

In [ ]:
y = data_train_cleaned['Survived']

In [ ]:
# Convert Sex into Numerical Data
enc = OneHotEncoder(handle_unknown='ignore')
enc_data = pd.DataFrame(enc.fit_transform(data_train_cleaned[['Sex']]).toarray())
data_train_cleaned = data_train_cleaned.join(enc_data)
data_train_cleaned.head()

   PassengerId  Survived  Pclass  ... Embarked    0    1
0            1         0       3  ...        S  0.0  1.0
1            2         1       1  ...        C  1.0  0.0
2            3         1       3  ...        S  1.0  0.0
3            4         1       1  ...        S  1.0  0.0
4            5         0       3  ...        S  0.0  1.0

[5 rows x 14 columns]

In [ ]:
enc_data = pd.DataFrame(enc.fit_transform(data_test_cleaned[['Sex']]).toarray())
data_test_cleaned = data_test_cleaned.join(enc_data)
data_test_cleaned.head()

   PassengerId  Pclass  ...    0    1
0          892       3  ...  0.0  1.0
1          893       3  ...  1.0  0.0
2          894       2  ...  0.0  1.0
3          895       3  ...  0.0  1.0
4          896       3  ...  1.0  0.0

[5 rows x 13 columns]

In [ ]:
# Rename newly created numerical column names
data_train_cleaned = data_train_cleaned.rename(columns={0:'Male', 1:'Female'}, errors='raise')
data_test_cleaned = data_test_cleaned.rename(columns={0:'Male', 1:'Female'}, errors='raise')

print(data_train_cleaned.head())
print(data_test_cleaned.head())

   PassengerId  Pclass  ... Male Female
0          892       3  ...  0.0    1.0
1          893       3  ...  1.0    0.0
2          894       2  ...  0.0    1.0
3          895       3  ...  0.0    1.0
4          896       3  ...  1.0    0.0

[5 rows x 13 columns]

In [ ]:
# Remove Unnecessary Columns
X_train = data_train_cleaned.drop(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Ticket', 'Fare', 'Cabin', 'Embarked'], 1)
X_test = data_test_cleaned.drop(['PassengerId', 'Pclass', 'Name', 'Sex', 'Ticket', 'Fare', 'Cabin', 'Embarked'], 1)

In [ ]:
print(X_train.head())
print(X_test.head())

    Age  SibSp  Parch  Male  Female
0  22.0      1      0   0.0     1.0
1  38.0      1      0   1.0     0.0
2  26.0      0      0   1.0     0.0
3  35.0      1      0   1.0     0.0
4  35.0      0      0   0.0     1.0
    Age  SibSp  Parch  Male  Female
0  34.5      0      0   0.0     1.0
1  47.0      1      0   1.0     0.0
2  62.0      0      0   0.0     1.0
3  27.0      0      0   0.0     1.0
4  22.0      1      1   1.0     0.0

In [ ]:
# Train the Logistic Regression
logModel = LogisticRegression(max_iter=10000)
logModel.fit(X_train, y)

LogisticRegression(max_iter=10000)

In [ ]:
# Predict test dataset

predictions = logModel.predict(X_test)

output = pd.DataFrame({'PassengerId': data_test.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [ ]:
# Submit via Kaggle API
! kaggle competitions submit titanic -f submission.csv -m "Kaggle API Submission"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
100% 2.77k/2.77k [00:01<00:00, 1.52kB/s]
Successfully submitted to Titanic - Machine Learning from Disaster

In [ ]:
# See Submissions
# ! kaggle competitions submissions titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
fileName        date                 description            status    publicScore  privateScore
--------------  -------------------  ---------------------  --------  -----------  ------------
submission.csv  2022-01-30 06:32:08  Kaggle API Submission  complete  0.77272      None
submission.csv  2022-01-28 21:34:39  First Try. No tweak.   complete  0.62918      None